# 🌐 FRONTEND
FRONTEND/node_modules/
FRONTEND/dist/
FRONTEND/.env

# 🛠 BACKEND
BACKEND/RECIPICK-PROJECT/.gradle/
BACKEND/RECIPICK-PROJECT/build/
!BACKEND/RECIPICK-PROJECT/gradle/wrapper/gradle-wrapper.jar
!BACKEND/RECIPICK-PROJECT/src/main/**/build/
!BACKEND/RECIPICK-PROJECT/src/test/**/build/
BACKEND/RECIPICK-PROJECT/.env

# 🧪 IDE 설정
*.iml
*.ipr
*.iws
.idea/
.vscode/
.project
.classpath
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath
bin/
out/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# 🔐 환경 변수
.env

# ⚙️ 컴파일 결과물
*.class
*.jar
*.war
*.zip
*.tar.gz
*.rar
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*
