# 🌐 FRONTEND
FRONTEND/node_modules/
FRONTEND/dist/
FRONTEND/.env

# 🛠 BACKEND
BACKEND/RECIPICK-PROJECT/.gradle/
BACKEND/RECIPICK-PROJECT/build/
BACKEND/RECIPICK-PROJECT/bin/
!BACKEND/RECIPICK-PROJECT/gradle/wrapper/gradle-wrapper.jar
!BACKEND/RECIPICK-PROJECT/src/main/**/build/
!BACKEND/RECIPICK-PROJECT/src/test/**/build/
BACKEND/RECIPICK-PROJECT/.env

# 🧪 IDE 설정
**/.idea/
**/.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.springBeans
.sts4-cache

# 🔐 환경 변수 (루트)
.env

# ⚙️ 컴파일 결과물
**/*.class
**/*.log
**/*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

# 🗂 시스템 파일
.DS_Store
Thumbs.db
